{% extends 'base.html.twig' %}

{% block title %}Nos menus{% endblock %}

{% block body %}

<main class="container mb-5">


    <h1 class="mt-5 mb-3"> Nos menus </h1>
    <div class="row">
        {% for meal in meals %}
            {% include 'meal/_meal.html.twig' %}
        {% endfor %}
    </div>
   
</main>

{% endblock %}
