 {% extends 'base.html.twig' %}

{% block title %}Commande Menus{% endblock %}

{% block body %}

<div class="container">
   <div id="payment" class="col-md-4 offset-md-3 mb-5 mt-5">
               
                <div >
                    <form action="{{path('order_payment',{'id':order.id})}}" method="post" id="payment-form">
                            <input type="hidden" value="{{order.amount}}" name="total">
                                <div class="text-center">
                                    <img  src="/img/cards.png" alt="cards">
                                </div>
                                <p class="text-center">Paiement avec stripes</p>
                            <label for="card-element">
                                
                                <h4 class="mt-5">Montant total : {{order.amount}} &euro;</h4>
                             
                            </label>
                            <h5 >Veuillez saisir vos informations bancaires</h5>
                            <div class="mt-5 mb-5" id="card-element">
                                </div>
                            <div id="card-errors" role="alert"></div>
                            <div class="text-center">
                                <button class="btn btn-primary " >Confimer le paiement</button>  
                            </div>

                    </form>
                  
           
                </div>
               
            </div>
           

    </div>    

</div>
</div>

{% endblock %}

{% block javascripts %} 
<script src="https://js.stripe.com/v3/"></script>
    
<script>
        var stripe = Stripe('pk_test_51GuiHFFbJaAsUUQt0g3NrBDEDopXB77Pu4nQTIiC1DkGVsxftu03EPTpPA4HippJ7hK7ZNsRwggzVycNrwpTLmIL00zpuWgb49')
        var elements = stripe.elements()
        var card = elements.create('card')

        card.mount('#card-element')

        card.addEventListener('change',function(e){
            var displayError = document.getElementById('card-errors')
            if(e.error){
                displayError.textContent = e.error.message

            }else{
                displayError.textContent = ''
            }
        })

        var form = document.getElementById('payment-form')
        form.addEventListener('submit',function(e){
                e.preventDefault()
            stripe.createToken(card).then(function(result){
                    if(result.error){
                        var displayError = document.getElementById('card-errors')
                        displayError.textContent = result.error.message

                    }else {
                        stripeTokenHandler(result.token)
                    }
                    })
            })

        function stripeTokenHandler(token){
            var form = document.getElementById('payment-form')
            var hiddenInput = document.createElement('input')
            hiddenInput.setAttribute('type','hidden')
            hiddenInput.setAttribute('name','stripeToken')
            hiddenInput.setAttribute('value',token.id)
            form.appendChild(hiddenInput)
            form.submit()
        }

</script> 
{% endblock %}