{% extends 'base.html.twig' %}

{% block title %}Validation paiement{% endblock %}

{% block body %}

<div class="container text-center mt-5">




<div class="alert alert-success">Félicitations, votre paiement a été accepté et votre commande est confirmée.</div>

                    
<a href="{{path('homepage')}}" class="btn btn-primary btn-sm">Retour à l'accueil</a>


</div>
{% endblock %}




